body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: bold;
    padding: 10px;
    min-width: 400px;
}
input{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}
button{
    background-color: #5f9315;
    text-align: center;
    color: green;
    padding: 10px;
    color: white;
}